.output {
    width: 5em;
}

.letter {
    font-size: 18vw;
}

* {
    box-sizing: border-box;
}


:root {
    /* defining colors */
    --background: #778A5B;
    --primary: #97A868;
    --primary-darker: #7E8E52;
    --primary-lighter: #AABE74;
    /* original: 778A5B */
    --secondary: #402A1C;
    --secondary-lighter: #4D3222;
    /* original: 5A352A */
    --accent: #303b9c;
    /* original: 3B4079, darker: 2C326E */
    --accent-darker: #1f286c;
    --neutral: #DECFBF;

    /* media query values */
    --mobile-size: 800px;
}

/* body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: auto;
} */

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;

    background-color: var(--primary);
    color: var(--secondary);

    margin: 0;
    /* color: rgb(46, 46, 46); */
    min-height: 100%;
    height: 100%;

}

h1 {
    margin: 10px;
    text-align: center;
    margin-bottom: 0;
}

.lengthSelection {
    /* display:flex;
    flex-direction: row; */
    font-size: 1.5em;
    margin: auto;
    display: block;
    width: fit-content;
    margin-bottom: 10px;
}
.lengthSelection p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.lengthSelection input {
    width: 2em;
    height: 2em;
    margin-right: 0px;
    margin-left: 8px;
    margin: 0;
    vertical-align: middle;
}
.lengthSelection label {
    margin: 0;
    vertical-align: middle;
}


/* input, textarea { */


input[type=text] {
    text-transform: lowercase;
}


#letter_input {
    display: flex;
    flex-direction: row;
}

/* #letter_input input {
    font-size: 18vw;
    font-size: 100%;
    width: 20%;
    margin: 0.5vw;
    text-align: center;
}
 */
@media(min-width:1200px) {
    #letter_input input {
        font-size: 216px;
    }
}

.letter {
    /* font-size: 18vw; */
    width: 20%;
    margin: 0.5vw;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
    /* a */
    max-height: 2em;
    /* a x number of line to show (ex : 2 line)  */
}

/* .no-list {} */



.buttons {
    display: flex;
    width: fit-content;
    width: 90%;
    margin: auto;
    gap: 10px;
}

button {
    font-size: 3em;
    margin: auto;
    display: block;
    text-align: center;
    margin: 0 20px;
}

#search {
    padding: 0px 20px;
    grid-area: search;

}
#clear {
    font-size: 2.5em;
    grid-area: clear;
}





/* #ignoreLabel { */
.listLabel {
    font-size: 2em;
    margin: auto;
    display: block;
    text-align: center;
}

/* #no-list { */
.listInput {
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    margin: auto;
    display: block;
}

#ignore, #include {
    display: flex;
    gap: 5px;
}

#ignore {
    grid-area: ignore;
}

#include {
    grid-area: include;

}

#test {
    display: block;
    margin: auto;
    width: 0.85em;
    background-color: aqua;
}


/* mobile layout */
@media(max-width:1000px) {
    #debug {
        display: none;
    }
    h1 {
        font-size: 1.6em;
    }
    .buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "ignore ignore"
            "include include"
            "clear search";
        width: fit-content;
        width: 90%;
        margin: auto;
        gap: 2px 20px;
    }

    button {
        margin: 0 10px;
        margin: 0;
        line-height: 1em;
    }
    #ignore, #include {
        margin: 3px 0;
    }

    /* #ignoreLabel { */
    .listLabel {
        font-size: 1.5em;
    }

    /* #no-list { */
    .listInput {
        font-size: 1.5em;
        padding: 0;
        line-height: 1em;
    }
    #output_list {
        margin-block-start: 0.2em;
    }
    .lengthSelection {
        margin-bottom: 4px;
    }
}

#output_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    padding: 0;
}

/* #output_list li { */
.output {
    margin: auto;
    width: fit-content;
    padding: 0 12px;
    font-size: 2em;
    border: 1px solid black;

    background-color: var(--neutral);

    border-radius: 8px;
    text-align: center;
    margin: 2px auto;
}

li.output.highlight {
    /* color: gray;
    border: 1px solid darkgray; */
    opacity: 0.5;
}

/* #output_list li :hover {
    background-color: gray;
} */