/* placed at top to select in javascript */
.ability[hidden-ability="true"] {
    /* display: none; */
    /* background-color: red; */
}

.ability[hidden-ability="true"]  .hideThisAbility {
    /* display: none; */
    background-color: grey;
    /* background-color: red; */
}


* {
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    /* removing automatic margin */
    margin: 0;
}

:root {
    /* defining colors */

    --might-dark: #e0371a;
    --might-main: #FF6347;
    --might-light: #ff9582;

    --agility-dark: #c1a60c;
    --agility-main: #ffe23d;
    --agility-light: #ffe865;

    --hearts-dark: #9921b7;
    --hearts-main: #BA55D3;
    --hearts-light: #e684ff;

    --wits-dark: #489dd1;
    --wits-main: #87CEFA;
    --wits-light: #b1e1ff;

    --resistance-dark: #52c852;
    --resistance-main: #74f174;
    --resistance-light: #b7feb7;

    --background: #97928e;
    --background-darker: #595855;
    --card: #cdcac3;
    --field: #bab5aa;

    /* media query values */
    --mobile-size: 800px;
    --medium-size: 1200px;
}


#basicInfo label, #quickstartInfo label {
    white-space: nowrap;
}


#name {
    width: 10em;
}
#pronouns {
    width: 8em;
}

#stats {
    /* grid-area: stats;
    grid-column: 1;
    grid-row: 0; */
    font-size: 2em;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 1em;
    row-gap: 10px;
    text-align: center;
    flex-wrap: wrap;
    /* display: grid;
grid-template-columns: repeat(5, 1fr);
column-gap: 10px; */
    width: 100%;
}

.statLabel.might {
    background-color: var(--might-main);
    --dark: var(--might-dark);
    --main: var(--might-main);
    --light: var(--might-light);
}
.statLabel.agility {
    background-color: var(--agility-main);
    --dark: var(--agility-dark);
    --main: var(--agility-main);
    --light: var(--agility-light);
}
.statLabel.hearts {
    background-color: var(--hearts-main);
    --dark: var(--hearts-dark);
    --main: var(--hearts-main);
    --light: var(--hearts-light);
}
.statLabel.wits {
    background-color: var(--wits-main);
    --dark: var(--wits-dark);
    --main: var(--wits-main);
    --light: var(--wits-light);
}
.statLabel.resistance {
    background-color: var(--resistance-main);
    --dark: var(--resistance-dark);
    --main: var(--resistance-main);
    --light: var(--resistance-light);
}

.statFrame {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.676);
    /* grid-template-columns: 1.5em 2em 2em; */
    /* grid-template-columns: repeat(3, 2em); */

    /* grid-template-rows: 2fr 1fr; */
    /* grid-template-rows: 1em 2em 1.5em; */
    /* background-color: whitesmoke; */
}
.currentStat.statBox {
    grid-column: span 3;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.currentStat.statBox .fieldTitle {
    font-size: 0.2em;
}


input.currentStat, input.edge {
    text-align: center;
}
.statBox.harm, .statBox.edge {
    display: flex;
    flex-direction: column;
}

.statEffects {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}

span.fieldTitle {
    font-size: 0.4em;
}


input.noArrows::-webkit-outer-spin-button, input.noArrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input.noArrows[type=number] {
    -moz-appearance: textfield;
}

.statBox {
    /* width: min-content; */
    white-space: nowrap;
    height: 100%;

    height: 100%;
    vertical-align: middle;
    margin: auto 0;
}
/* <span class="fieldTitle">edge</span> */
.statBox input {
    background-color: white;
}

.statParts {
    display: flex;
    flex-direction: column;
}

.statBox.baseStat, .statBox.tempBonuses, .statBox.permBonuses {
    font-size: 0.75em;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}


input.baseStat, input.tempBonuses, input.permBonuses {
    text-align: right;
}
.baseStat.statBox span, .baseStat.statBox div {
    margin: auto;
    height: min-content;
    display: block;
}


.statBox input {
    width: 70%;
    width: 2em;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;

    border-radius: 0;
    border: 0;
    /* background-color: transparent; */
    margin: 0;
    padding: 0;
}
.addSign {
    display: inline;
    font-size: 1em;
    /* width: min-content; */
}

.dropdownToggle {
    display: none;
}

.bonusToggler {
    /* display: block;
    padding: 5px 20px;
    font-weight: bold;
    text-align: center;
    font-size: 3em; */


    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* background-color: var(--card);
    padding: 10px; */
    cursor: pointer;
    text-decoration: none;
}
input[type='checkbox']:checked+.bonusList {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.bonusList {
    display: none;
    position: absolute;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    width: min-content;
    background-color: var(--card);
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: var(--main);
}



.bonusHeader * {
    display: inline;
}

.bonusListItem {
    /* width: 100%;
    text-align: left; */
    height: 100%;
    height: 1.16em;
    font-size: 1em;
    display: flex;
    gap: 2px;
}

.bonusListItem * {
    margin: 0;
    padding: 0;
}
.bonusList input {
    background-color: var(--light);
}

.bonusList li .bonusSource {
    width: 15em;
}
.bonusList li .bonusAmount {
    width: 2em;
}
.addBonus {
    margin: auto;
}

.removeBonus {

    font-size: 0.75em;
    height: 100%;
    height: 2em;
    height: inherit;
    display: inline;
    margin: 0;
    padding: 0 0.15em;
    border: none;
    /* height: 2em; */
    /* width: 1.5em; */
}

/* 
.toggle input {
    display: none;
}

 */

#conditions {
    display: flex;
    flex-direction: column;
    /* display: none; */
}

.conditionIcon {
    user-select: none;
    /* font-size: 40px; */
    line-height: 30px;
    text-align: center;
    color: grey;
    opacity: 50%;
    margin: 0 auto;
}



.toggle input[type='checkbox'] {
    display: none;
}


.toggle input:checked+.conditionIcon {

    color: purple;
    opacity: 100%;

}


/* skills */
/* 
#rolls table {
    border: 1px solid black;
}
/*  */

table {
    /* border: 1px solid black; */
    border-collapse: separate;
    margin: auto;
    /* width: 100%; */
    border-spacing: 0;
    table-layout: fixed;


}

table td {
    border: 1px solid black;
}

table th {
    font-weight: bold;
    border: 1px solid black;
    /* border: "1"; */
    /* width: 100px; */
    width: min-content;
    white-space: wrap;
}

tr {
    background-color: var(--main);
    border-collapse: collapse;
    /* box-shadow: 0 0 10px #00000059; */
}
#rollNameHeader, #autoSuccessHeader {
    width: 6em;
}
#bonusDiceHeader {
    width: 4em;
}

#impairedRollHeader, #hinderedRollHeader {
    width: 4em;
    font-size: 0.75em;
}
#hinderedRollHeader {
    width: 3em;
}

#bonusPercentDiceHeader {
    width: 5em;
}

#totalDiceHeader, #baseDiceHeader, #bonusSuccessHeader {
    width: 3em;
}


#mightRoll, #agilityRoll, #heartsRoll, #witsRoll, #resistanceRoll {
    font-weight: bold;
}

#brawl, #threatenM, #mightRoll {
    /* background-color: var(--might-main); */
    --dark: var(--might-dark);
    --main: var(--might-main);
    --light: var(--might-light);
}
#finesse, #throw, #move, #agilityRoll {
    /* background-color: var(--agility-main); */
    --dark: var(--agility-dark);
    --main: var(--agility-main);
    --light: var(--agility-light);
}
#reachOut, #attune, #heartsRoll {
    /* background-color: var(--hearts-main); */
    --dark: var(--hearts-dark);
    --main: var(--hearts-main);
    --light: var(--hearts-light);
}
#manipulate, #think, #threatenW, #witsRoll {
    /* background-color: var(--wits-main); */
    --dark: var(--wits-dark);
    --main: var(--wits-main);
    --light: var(--wits-light);
}
#resistanceRoll {
    --dark: var(--resistance-dark);
    --main: var(--resistance-main);
    --light: var(--resistance-light);
}

span.overwhelmIcon {
    user-select: none;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: grey;
    opacity: 50%;
    margin: 0 auto;
    display: none;
}
#rolls input {
    overflow: hidden;
    white-space: nowrap;

    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
}


.bonusDice input, .bonusPercentDice input, .bonusSuccesses input, .impairedRoll input {
    font-size: 16px;
    width: 2em;
}
.totalDice, #totalDiceHeader {
    border-right: 2px solid black;
}

.hinderedRoll input {
    /* font-size: 2em; */
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}




/* 
.toggle input[type='checkbox'] {
    display: none;
}

.toggle input:checked+.overwhelmIcon {

    color: var(--dark);
    opacity: 100%;

}
 */
/* 
might
agility
hearts
wits
resistance


Agility
Hearts
Wits
Resistance
 */

#abilities {
    /* grid-area: abilities; */
    /* display: flex;
    flex-direction: column; */
    background-color: var(--background-darker);
    /* padding: 0.5em; */
}


/* #abilities h1 {
    background-color: var(--card);
    margin-bottom: 0.2em;
    padding: 0.2em;
    padding-top: 0.3em;
}
 */

.hideAbilities input[type='checkbox'] {
    display: none;
}

.hideAbilities {
    position: relative;
    user-select: none;
}

#abilitiesShownIcon, #abilitiesHiddenIcon {
    user-select: none;
    /* position: absolute;
    margin: 0 auto;
    right: 0.5em;
    bottom: -0.2em; */
    font-size: 3em;
    line-height: 0.75em;
}

/* #abilitiesHiddenIcon {
    opacity: 0%;
    right: 0.6em;
} */

input:checked~#abilitiesHiddenIcon {
    /* display: block; */
    /* color: rgb(0, 0, 0); */
    opacity: 100%;
    color: gray;
    /* background-color: red; */
    /* text-shadow: none; */
}


#abilitiesHiddenText, #abilitiesShownText {
    /* width: min-content;
    white-space: wrap; */
    display: inline-block;
}
#abilitiesHiddenText {
    display: none;
}

input:checked~#abilitiesHiddenText {
    display: inline-block;
}


input:checked~#abilitiesShownText {
    display: none;
}


#abilitiesHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--card);

    margin-bottom: 0.2em;
    padding: 0.2em 0.5em;
    padding-top: 0.3em;
}

label.hideAbilities {
    position: relative;
    /* transform: translate(15em, -3em); */
}



#abilitiesHiddenHover {
    display: none;
    position: absolute;
    /* transform: translate(0, 0.5em); */
    right: 5em;
    top: 0.5em;
    width: max-content;


    font-size: 1em;
}

.hideAbilities:hover{
    /* background-color: cyan; */
}

.abilitiesShownIcon:hover+#abilitiesHiddenHover, .abilitiesShownIcon:focus+#abilitiesHiddenHover {
    display: inline-block;
}

#abilitiesJump {
    display: none;
}


#abilitiesList, #startAbilitiesList {
    margin: 0 0.5em;
    padding-right: 0.25em;
    display: flex;
    flex-direction: column;

    gap: 8px;
    /* padding: 1em; */


    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 775px;
    /* height: 60vh; */
    /* height: 88%; */
}

/* transformations */
#newCanineAbilities {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
}

#newCanineAbilities input {
    margin-bottom: auto;
}

/* 
#caninePurchaseWindow{
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

#newCanineAbilities label {
    display: flex;
}

#raiseCanineLevel, #canineLevel, #canineMaxLevel, #lowerCanineLevel, #canineMaxWeapon, #canineMaxMobility {
    width: 2em;
}



#quickstartWindow {

    overflow-y: scroll;
    overflow-x: hidden;
}

#startAbilitiesList {
    /* max-height: 50vh; */
    height: 100%;
}



/* confirm popup */

#confirmWindow {
    max-width: 1100px;

    display: grid;
    /* grid-template-columns: repeat(1fr, 2);
    grid-template-areas:
        "message message",
        "yes" "no"; */

    grid-template-columns: 50% 50%;
    grid-template-areas:
        "message    message"
        "yes        no";
    position: fixed;
    margin: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--card);
    /* change this? */
    color: #fff;

    padding: 0.6em 1em;
    border-radius: 0.5em;

    width: 40vw;
    height: 20vh;
    display: none;

    box-shadow: 0 0 10px #00000059;

    padding: 2em;
}

#confirmMessage {
    grid-area: message;
    /* font-size: 5vw; */
    text-align: center;
}
#confirmTarget {
    font-size: 1.2em;
}
/* @media (min-width:600) {
    #confirmMessage {
        font-size: 2em;
    }
}
 */
#confirmYes, #confirmNo {
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 0;
    padding: 0.5em 1em;
    width: 90%;
    height: min-content;
}


#confirmYes {
    grid-area: yes;
    background-color: hsl(0, 45%, 55%);
}
#confirmNo {
    grid-area: no;
}


/* 
button {
    background-color: var(--accent);
    border-radius: 0.75em;

    border: none;
    margin: 0.2em;
    height: min-content;


    font-family: 'Alegreya', serif;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s;

    display: inline-block;

} */

button:hover {
    background-color: var(--accent-darker);
}

/* abilities */


.ability .dragHandle {
    /* position: relative; */
    height: min-content;
    background-color: var(--field);
    display: inline;
}
.ability .sortable-placeholder {
    padding: 0.25em 1em;
    padding: 0.5em;
}

.ability h1 {
    font-size: 1.25em;
    margin: 0;
}
.ability p {
    margin: 0;
}
/* 
.ability[hidden-ability="true"] {
    display: none;
    background-color: red;

}
 */

.ability[hidden-ability="false"] {
    display: block;
    /* background-color: cyan; */
}

.ability .hideThisAbility, .ability .removeAbility {
    font-size: 2em;
    margin: 0;
    padding: 0;
    line-height: 0.75em;
}

.shinsuIcon {
    user-select: none;
    /* font-size: 40px;
    line-height: 30px;
    text-align: center; */
    /* display: none; */
    /* color: #808080;
    opacity: 50%; */
    margin: 0 auto;

    color: transparent;
    text-shadow: 0 0 1px rgba(128, 128, 128, 0.25);
}


input:checked+.shinsuIcon {
    /* display: block; */
    color: rgb(0, 238, 255);
    opacity: 100%;
    /* text-shadow: none; */

}


.shinsuHover {
    display: none;
    position: absolute;
    /* left:15em; */
    /* top: 0em; */
    /* transform: translate(-0, -20%); */
    /* transform: translate(0, -1em); */
    transform: translate(0, 0.5em);
    font-size: 0.8em;

    /* 
    top: -1em; */
}

input:checked+.shinsuIcon:hover+.shinsuHover, input:checked+.shinsuIcon:focus+.shinsuHover {
    display: inline-block;
}




.abilityDescription {
    width: 100%;
    border: 0;
    font-size: 18px;
    background-color: var(--field);
    resize: vertical;
    margin: 0.25em 0;
    margin-bottom: 0;
    /* margin-top: 0.2em; */
    /* border: none; */
    /* border-bottom: 1px solid black; */
}

.newAbility .abilityDescription {
    /* margin: 0; */
}


.abilityHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    row-gap: 8px
        /* 
    align-items: center
    align-items: flex-start; */
}

.abilityDetails {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}


.ability input {
    display: inline;
    border: none;
    border-radius: 0;
    /* margin: 0 auto; */
    background-color: var(--field);
}

.newAbility div {
    white-space: nowrap;
}

.newAbility .abilityName {
    display: inline;
}
/* .newAbility .abilityNameBlock {
    white-space: nowrap;
    gap: 5px;
    display: flex;
} */


.tmp-element {
    visibility: hidden;
    white-space: pre;
}
.abilityName, .abilityField div{
    background-color: var(--field);
}


.abilityName{
    font-size: 1.4em;
    /* width: 12em; */
    /* border: 1px solid black; */
}

.abilityField {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin: auto 0;
    margin: 0;
    margin-top: auto;
    width: min-content;

}

.ability input[type='checkbox'] {
    display: none;
}

.ability, .newAbility {
    background-color: var(--card);
    color: black;
}

.newAbility {
    /* margin: 0 1em; */
    padding: 0.5em;
}

.addAbility {
    padding: 0 3em;
    margin: auto;
    display: block;
}
.abilityOrigin {
    margin-left: 10em;
    display: inline-block;
    white-space: nowrap;
    width: max-content;
}

/* popup windows */

#popupMask {
    height: 100%;

    opacity: 50%;
    pointer-events: auto;
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    /* pointer-events: none; */
    /* position: absolute; */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    background-color: grey;
    display: none;
}

.popup {
    z-index: 10;
}

.windowTitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    /* width: 100%; */

    background-color: var(--card);
    padding: 0.4em 1em;
}


/* experience section */

#leveling {
    background-color: var(--background);
    padding: 0.5em 1em;
}

#leveling label {
    white-space: nowrap;
}

#leveling label[for="experienceTrigger"] {
    width: 100%;
}


#levelBody {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
#abilitiesBought {
    width: 3em;
}
#currentExperience, #experienceSpent {
    width: 6em;
}
#tier {
    width: 2em;
}

#experienceTrigger {
    font-size: 1em;
    width: 100%;
}


/* footer */

footer {
    padding: 2em 0;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;

    background-color: var(--accent);

    /* 
    position: absolute; */
    bottom: 0;
    width: 100%;
    height: 2.5em;
    height: min-content;
}


/* ability selection window */

#filteredAbilities {
    margin: auto;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    /* height: 60vh; */
    /* height: 88%; */
    /* height: 10%; */
    /* height: min-content; */

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0.5em;
    margin: auto 0.5em;
}

#filteredWrapper {
    height: 100%;
    overflow-y: scroll;
    /* height: anchor-size(height); */
    /* height: min-content; */
}

.popup {
    max-width: 1500px;

    display: flex;
    flex-direction: column;
    position: fixed;
    margin: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background);
    border: 10px solid var(--background-darker);
    color: #fff;

    border-radius: 0.5em;

    width: 90vw;
    height: 90vh;
    display: none;

    box-shadow: 0 0 10px #00000059;
}
/* #abilityWindow {
    height: 80%;
    width: 80%;
    margin: 10%;
    overflow: hidden;
} */
/* 
#abilityWindow {

    max-width: 1500px;

    display: flex;
    flex-direction: column;
    position: fixed;
    margin: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background);
    border: 10px solid var(--background-darker);
    color: #fff;

    border-radius: 0.5em;

    width: 90vw;
    height: 90vh;
    display: none;

    box-shadow: 0 0 10px #00000059;
}
 */
/* quickstart */

#quickstartWindow {
    width: 80vw;
    height: 80vh;
    padding: 1em;
}

#quickstartDescription {
    margin-bottom: 1em;
}
#quickstartWindow label {
    font-size: 1em;
}
select.quickstart {
    width: min-content;
}




.dragHandle {
    cursor: grab;
    padding: 0 0.1em;
    background-color: var(--card);
    font-size: 1.4em;
    line-height: 1.1em;
    height: 100%;
    border-radius: 0.25em;
    margin: auto 0;
    width: 1em;
    color: #6d6d6d
}
.dragHandle:hover {
    color: white;
}

/* stat purchase window */

#statPurchaseSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



#statPurchaseSection label div {
    display: flex;
    flex-direction: column;
    width: 3em;
    margin: auto;
    /* font-size: 1.5em; */
}
#statPurchaseSection label input {
    font-size: 1.25em;
    text-align: center;
    padding: 0;

}

#statPurchaseSection label {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
@media(max-width:920px) {
    #statPurchaseSection label {
        flex-direction: column;
    }
}
#statCost {
    font-size: 2em;
}
#tierUpMessage {
    display: none;
}
.windowBody {
    padding: 1em;
}