.output {
    width: 5em;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 1200px;
    margin:auto;
}

h1 {
    margin: 10px;
    text-align: center;
}
/* input, textarea { */
#letter_input input {
    font-size: 18vw;
    /* font-size: 100%; */
    width: 20%;
    margin: 0.5vw;
    text-align: center;
}

@media(min-width:1200px) {
    #letter_input input {
        font-size: 216px;
    }
}

.letter {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
    /* a */
    max-height: 2em;
    /* a x number of line to show (ex : 2 line)  */
}

.no-list {

}


.buttons {
    display: flex;
    width: fit-content;
    margin: auto;
    gap:10px;
}

button {
    font-size: 3em;
    margin: auto;
    display: block;
    text-align: center;
    margin-left: 10;
}

#letter_input {

    display: flex;
    flex-direction: row;
}

.lengthSelection {
    /* display:flex;
    flex-direction: row; */
    font-size: 2em;
    margin: auto;
    display: block;
    width: fit-content;
}
.lengthSelection p {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}
.lengthSelection input {
    width: 2em;
    height: 2em;
    margin-right: 0px;
    margin-left: 8px;
}

#output_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    padding: 0;
}

/* #output_list li { */
.output {
    margin: auto;
        /* width: fit-content;
    width: 5em; */
    font-size: 2em;
    border: 1px solid black;
}

li.output.highlight {
    color: gray;
    border: darkgray;
}

#output_list li :hover {
    background-color: gray;
}

#no-list {
    display: none;
}
